[package]
name = "obscura_verification"
version = "0.1.0"
edition = "2024_07"

[dependencies]
starknet = "2.8.4"

[dev-dependencies]
snforge_std = { git = "https://github.com/foundry-rs/starknet-foundry", tag = "v0.31.0" }

[[target.starknet-contract]]
sierra = true
casm = true

[scripts]
test = "snforge test"
